<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        //7. Pide al usuario que ingrese su edad con prompt. Con base en la edad ingresada, utiliza un if para verificar si la persona es mayor o menor de edad y muestra un mensaje apropiado en la consola.
        let edadUsuario = prompt('Ingrese su edad: ')
        if(edadUsuario >= 18) {
            console.log('Es usted una persona mayor de edad')
        } else {
            console.log('Es usted un menor de edad')
        }

        //Ejercicios del 11 al 13
        // let numeroRandom = Math.random()
        // alert(Math.floor(numeroRandom))
        // let numeroRandom2 = Math.random() * 100
        // alert(Math.floor(numeroRandom2))
        // let numeroRandom3 = Math.random() * 1000
        // alert(Math.floor(numeroRandom3))
    </script>
</body>
</html>