<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script>
    //1. Crea un contador que comience en 1 y vaya hasta 10 usando un bucle 'while'. Muestra cada número.
    // let contador = 1
    // while(contador <= 10) {
    //   console.log(contador)
    //   contador ++
    // }

    //2. Crea un contador que comience en 10 y vaya hasta 0 usando un bucle 'while'. Muestra cada número.
    // let contador = 10
    // while(contador >= 0) {
    //   console.log(contador)
    //   contador --
    // }

    //3. Crea un programa de cuenta regresiva. Pide un número y cuenta desde ese número hasta 0 utilizando un bucle 'while' en la consola del navegador.
    // let numero = prompt('Ingrese el numero a partir del cual comenzar a contar hacia atras')
    // while(numero >= 0) {
    //   console.log(numero)
    //   numero --
    // }

    //4. Crea un programa de cuenta progresiva. Pide un número y cuenta desde 0 hasta ese número utilizando un bucle 'while' en la consola del navegador.
    // let meta = prompt('Ingrese un numero para iniciar la cuenta: ')
    // let inicio = 0
    // while(meta >= inicio) {
    //   console.log(inicio)
    //   inicio ++
    // }
  </script>
</body>
</html>